/* page.module.scss */

.playlistsContainer {
	display: grid;
	grid-template-rows: min-content 1fr;
	width: 100%;
	min-height: 94dvh;
	text-align: center;
}

.playlistsTitle {
	font-size: 2rem;
	margin-bottom: 20px;
	color: var(--text-color);
}
