.wrapper {
	padding: 8px;
	@media screen and (min-width: 1000px) {
		margin-inline: auto;
		margin-block-end: auto;
	}
}

.switch {
	width: 67.2px;
	height: 35.2px;
	display: flex;
	border-radius: 50px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	padding-block: 16.32px;
	border: 1px solid var(--fourth-color);
	box-shadow: 0 0 15px var(--box-shadow-color);
	background-color: var(--primary-color);
}

.handle {
	width: 27.2px;
	height: 27.2px;
	background-color: var(--third-color);
	border: 1px solid var(--fourth-color);
	border-radius: 40px;
	&[data-ison="light"] {
		margin-inline-start: 5px;
	}

	&[data-ison="dark"] {
		margin-inline-end: 5px;
	}
}
