.registerForm {
	display: grid;
	text-align: center;
	width: 100%;

	input {
		border: 0;
		text-align: center;
		border-radius: 8px;
		width: 90%;
		max-width: 480px;
		min-height: 35px;
		justify-self: center;
		background-color: var(--primary-color);
		color: var(--text-color);
		border: 1px solid var(--fourth-color);

		&:last-of-type {
			margin-block-end: 12px;
		}
	}

	label {
		font-weight: bold;
		&:not(:first-child) {
			margin-block-start: 16px;
		}
		margin-block-end: 3.2px;
	}
}

.dialogue,
.empty {
	border-radius: 8px;
	text-align: center;
	padding: 6px;
	margin-inline: 8px;
	margin-block-start: 4px;
	margin-block-end: 14px;
	color: var(--text-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--dialogue-space);

	p {
		all: unset;
		font-size: 18px;

		@media screen and (max-width: 600px) {
			font-size: 16px;
		}

		@media screen and (max-width: 400px) {
			font-size: 14px;
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.succes {
	background-color: var(--success-color);
	animation: fadeIn 1s ease-in-out forwards;
	box-shadow: 0 0 15px var(--box-shadow-color);
}

.fail {
	background-color: var(--alert-color);
	animation: fadeIn 1s ease-in-out forwards;
	box-shadow: 0 0 15px var(--box-shadow-color);
}
.orSeparator {
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 1.3rem;
	margin-block-end: 1.3rem;
	width: 35%;

	@media screen and (max-width: 750px) {
		width: 40%;
	}

	@media screen and (max-width: 500px) {
		width: 50%;
	}

	@media screen and (max-width: 300px) {
		width: 60%;
	}

	&::before,
	&::after {
		content: "";
		flex: 1;
		border-bottom: 1px solid var(--fourth-color);
	}

	&:not(:empty)::before {
		margin-right: 0.75em;
	}

	&:not(:empty)::after {
		margin-left: 0.75em;
	}
}
.login {
	text-align: center;
	display: grid;
	h2 {
		padding: 0;
		margin: 0;
	}
}
