.welcome {
	font-size: 46px;
	color: var(--text-color);
	text-align: center;
	width: 100%;
	margin-inline: 5%;
	@media screen and (min-width: 1001px) {
		margin-inline: 0;
	}
	div {
		display: flex;
		justify-content: stretch;
		gap: 10px;
	}
}
