.modalBackdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	backdrop-filter: blur(58px);
	-webkit-backdrop-filter: blur(58px);
	display: grid;
	justify-content: center;
	align-items: center;
	z-index: 600;
}

.modalContent {
	background: var(--primary-color);
	padding-inline: var(--dialogue-space);
	padding-block-start: var(--dialogue-space);
	border-radius: 12px;
	box-shadow: 0 4px 20px var(--box-shadow-color);
	position: relative;
	color: var(--text-color);
	width: 80%;
	height: min-content;
	display: grid;
	place-items: center;
	z-index: 601;
	@media screen and (min-width: 1001px) {
		width: 37%;
	}
}

.closeButton {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
	color: var(--text-color);
	&:hover {
		color: var(--button-color-hover);
	}
}
